.navbar {
    background-color: #ECF2FF;
}

#card_temp {
    background-color: #FEFF86;
}

#card_humidity {
    background-color: #B0DAFF;
}

.li_dark,
.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
}



/* .list-group-item {
    border: solid #cce9ef 0.08rem;
}

.card-header {
    border: solid black 0.08rem;
}

.card-header {
    background-color: #cff4fc;
}

.list-group-item {
    background-color: #bfe2e9;
} */